html, body{
    background-color: #B9CEDD;
    background-image: url(../images/Background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav { 
    display: flex;
    background: white;
    position: fixed;
	overflow: hidden;
    width: fit-content;
    height: 100%;
}

nav ul {
    margin: 0;
    padding: 0; 
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.push {
    margin-top: auto;
}

nav ul li a img {
    padding: 15px;
    transition: 0.75s;
}

nav ul li a img:hover {
    transform: translateY(-10px);
}


.flightbooker {
    background: white;
    margin: 0;
    padding: 0;
}

.flightbooker h2{
    margin: 0;
    padding: 0;
}






.button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
    
}
  
.button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  }

.button:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
  
 