/* Color theme:
    Dark color
        #002233;
    Light color
        #0066FF;
    Accent color
        #?;
*/ 


body {
    background-color: #002233;
    font-family: Sans-serif;
    color: #0066FF;
}

header {
    display: flex;
    justify-content: center;
}


